graft src
graft tests
prune scripts
prune notebooks
prune tests/.pytest_cache
prune docs

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle .idea/**

include README.md LICENSE
exclude .readthedocs.yml .cruft.json docker-compose.yml Dockerfile
exclude {% if cookiecutter['runner'] == 'tox' %}tox.ini{% else %}noxfile.py{% endif %}
{%- if cookiecutter.citation_file|lower == "true" %}exclude CITATION.cff{% endif %}
