# This file configures the continuous integration (CI) system on GitHub.
# Introductory materials can be found here: https://docs.github.com/en/actions/learn-github-actions/understanding-github-actions.
# Documentation for editing this file can be found here: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

name: Tests

# by default, give the GITHUB_TOKEN no permissions
# See https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/controlling-permissions-for-github_token
permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14", "3.10"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: "Install uv"
        uses: "astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b" # v7.2.0

      - name: Install Dependencies
        run: |
          uv python install ${{ matrix.python-version }}
          uv tool install cookiecutter
          uv tool install --with tox-uv tox

      - name: Cut the Cookie
        run:
          cookiecutter --no-input . package_name=test_octopus "package_name_stylized=Test Octopus" "short_description=Test Octopus Package Description" "author_name=Charles Tapley Hoyt" "author_email=cthoyt@gmail.com" author_github=cthoyt github_organization_name=cthoyt github_repository_name=test-octopus

      - name: Commit
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add --all
          git commit -m "Add cookiecutter to local git, but don't push"

      - name: Run tests
        run: cd test_octopus && tox

      - name: Test build
        run: cd test_octopus && tox -e build

      - name: Test bumping version
        run: |
          cd test_octopus
          tox -e bumpversion -- minor
          tox -e build
